@font-face {
    font-family: OpenSans;
    src: url(OpenSans-Regular.ttf);
    font-weight: 400;
}
@font-face {
    font-family: OpenSans;
    src: url(OpenSans-Medium.ttf);
    font-weight: 500;
}

body {
    margin: 10px;
    font-family: OpenSans;
    text-align: center;
}

main {
    padding: 0 20px 20px 20px;
    border: 5px #eaeaea solid;
    border-radius: 8px;
}

h1 {
    font-weight: 500;
}

table.board tr:first-child td:first-child {
    position: relative;
}

table.board td {
    padding: 0;
    margin: 0;
    border-collapse: collapse;
    border-spacing: 0;
    min-width: 0;
    min-height: 0;
    line-height: 0;
}

.center {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

table.board a {
    cursor: pointer;
}

table.board tr td a {
    width: 40px;
    height: 40px;
    display: inline-block;
    border-radius: 10%;
    border-radius: 4px;
    transition: all 0.4s ease;
}

table.board tr td a:hover {
    width: 40px;
    height: 40px;
    background-color: rgba(0,0,0,0.25);
    display: inline-block;
}

table.board .quod {
    display: block;
    width: 80%;
    height: 80%;
    border-radius: 50%;
    margin: 10%;
}

table.board tr td a,
table.board tr td a.player1:hover,
table.board tr td a.player2:hover {
    background-color: #eaeaea;
}

table.board a.player1 .quod {
    background-color: #ffc500;
}

table.board a.player2 .quod {
    background-color: #0083da;
}


table.board #square {
    border: 4px dashed black;
    transition: all 0.4s ease;
    display: flex;
    cursor: pointer;
    box-sizing: border-box;
    position: absolute;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    visibility: hidden;
    opacity: 0;
    background-color: rgb(0, 0, 0, 0.25);

    /* some initial settings for cool first animation*/
    top: 100%;
    left: 100%;
    width: 200%;
    height: 200%;
}

table.board #square:hover {
    background-color: rgb(0, 0, 0, 0.4);
}

/*
table.board #square.player1 {
    border-color: #ffc500;
}
table.board #square.player2 {
    border-color: #0083da;
}
*/

.player-controls {
    margin: 10px 0;
}

.player-controls {
    padding: 5px 5px 5px 82px;
    display: flex;
    border-radius: 4px;
}

.player-controls.player1 {
    background-color: #ffedb3;
}

.player-controls.player2 {
    background-color: #b3c9d9;
}

.player-controls a {
    display: inline-block;
    width: 32px;
    height: 32px;
    margin: 1px;
    cursor: pointer;
    border-radius: 50%;
}

.quasar,
a.quasar {
    background-color: #444;
    width: 20px;
    height: 20px;
    margin: 10px 10px;
    display: block;
    border-radius: 50%;
}

.player-controls.player1 a:first-child {
    background-color: #ffc500;
    margin: 4px;
}

.player-controls.player2 a:first-child {
    background-color: #0083da;
    margin: 4px;
}

.grayscale {
    filter: grayscale(1);
}