@font-face {
    font-family: OpenSans;
    src: url(OpenSans-Regular.ttf);
    font-weight: 400;
}
@font-face {
    font-family: OpenSans;
    src: url(OpenSans-Medium.ttf);
    font-weight: 500;
}

a {
    cursor: pointer;
}

:root {
    --lightgray: #eaeaea;
    --gray: #bbb;
    --transparent-lightgray: rgba(0,0,0,0.25);
    --transparent-gray: rgba(0,0,0,0.4);
    --player1-color: #ffc500;
    --player2-color: #0083da;
    --player1-color-light: #ffedb3;
    --player2-color-light: #a8d0ec;
}


body {
    margin: 10px;
    font-family: OpenSans;
    text-align: center;
}

main {
    padding: 0 20px 20px 20px;
    border: 5px var(--lightgray) solid;
    border-radius: 8px;
    transition: all 1s ease, transform 0s;
}

main header {
    position: relative;
    
}

#reset-button,
#menu-button {
    position: absolute;
    top: 0;
    margin-top: 3px;
    padding: 4px;
    border: 2px var(--lightgray) solid;
    border-radius: 8px;
    width: 25px;
    height: 25px;
}

#reset-button {
    right: 0;
}

#menu-button {
    left: 0;
}

#reset-button img,
#menu-button img {
    width: 23px;
}

img { user-select: none; }
h1 {
    font-weight: 500;
    margin-top: 20px;
}

table.board {
    margin: auto;
}

table.board tr:first-child td:first-child {
    position: relative;
}

table.board td {
    padding: 0;
    margin: 0;
    border-collapse: collapse;
    border-spacing: 0;
    min-width: 0;
    min-height: 0;
    line-height: 0;
}

.center {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -55%);
    transform: translate(-50%, -55%);
}


table.board tr td a {
    width: 40px;
    height: 40px;
    display: inline-block;
    border-radius: 4px;
    transition: all 0.4s ease;
}

table.board tr td a:hover {
    background-color: var(--gray);
}

table.board .quod {
    display: block;
    width: 80%;
    height: 80%;
    border-radius: 50%;
    margin: 10%;
}

table.board tr td a, table.board .taken:hover a{
    background-color: var(--lightgray);
}

.taken a{
    cursor: unset;
}

table.board a.player1 .quod {
    background-color: var(--player1-color);
}

table.board a.player2 .quod {
    background-color: var(--player2-color);
}


table.board #square {
    border: 4px dashed black;
    transition: opacity 0.4s ease,
                transform 0.4s ease;

    display: flex;
    cursor: pointer;
    box-sizing: border-box;
    position: absolute;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    visibility: hidden;
    opacity: 0;
    background-color: var(--transparent-lightgray);

    /* some initial settings for cool first animation*/
    transform: rotate(90deg);
    top: 100%;
    left: 100%;
    width: 200%;
    height: 200%;
}

table.board #square:hover {
    background-color: var(--transparent-gray);
}

/*
table.board #square.player1 {
    border-color: var(--player1-color);
}
table.board #square.player2 {
    border-color: var(--player2-color);
}
*/

.player-controls {
    margin: 10px 0;
}

.player-controls {
    padding: 5px;
    display: flex;
    justify-content: center;
    border-radius: 4px;
}

.player-controls.player1 {
    background-color: var(--player1-color-light);
}

.player-controls.player2 {
    background-color: var(--player2-color-light);
}

.player-controls a {
    display: inline-block;
    width: 32px;
    height: 32px;
    margin: 1px;
    border-radius: 50%;
}

.quasar,
a.quasar {
    background-color: #444;
    width: 20px;
    height: 20px;
    margin: 10px 10px;
    display: block;
    border-radius: 50%;
}

.quasar.selected {
    background-color: white;
}

.quasar.used {
    background-color: red;
    visibility: hidden;
}

.player-controls.player1 a:first-child {
    background-color: var(--player1-color);
    margin: 4px;
}

.player-controls.player2 a:first-child {
    background-color: var(--player2-color);
    margin: 4px;
}

.grayscale {
    filter: grayscale(1);
}

@media only screen and (max-width: 530px) {
    main {
        border: none;
        padding: 0!important;
    }
}
@media only screen and (max-width: 470px) {
    table.board tr td a {
        width: 37px;
        height: 37px;
    }
}
@media only screen and (max-width: 435px) {
    table.board tr td a {
        width: 34px;
        height: 34px;
    }
}
@media only screen and (max-width: 400px) {
    table.board tr td a {
        width: 31px;
        height: 31px;
    }
}
@media only screen and (max-width: 365px) {
    table.board tr td a {
        width: 28px;
        height: 28px;
    }
}